body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 140%;
  font-size: 14px;
  margin:0;
  padding:0;
}

p, ol, ul, td {
  margin-left: 5px
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #eee; background-color:#7f93bc; }

.last_answer {
  font-size: 120%;
  padding: 10px;
  width: 380px;
  margin-bottom: 10px;
}

.correct_answer {
  background-color: #eceff6;
  border: 2px solid #d4dae8 ;
}

.incorrect_answer {
  background-color: #ffebe8;
  border: 2px solid #dd3c10;
}

#stats-box {
  width: 700px;
}

.small-flashcard {
  color: #222;
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 2px;
  border: 1px outset #353;
  font-size: 150%;
  display: inline;
  line-height:58px;
}

.tiny-flashcard {
  color: #222;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 2px;
  border: 1px outset #353;
  font-size: 90%;
  display: inline;
}

.tooltip {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
}

#flashcard {
  color: #222;
  text-align: center;
  width: 200px;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
}

#hint1 {
  font-size: 44px;
  line-height: 100%;
  min-height: 120px;
}

#hint2 {
  line-height: 100%;
  font-size: 32px;
  min-height: 80px;
}

.game_button {
  background: #5b74a8;
  color: #eee;
  border: 2px outset #29447e;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
}

.answer {
  margin: 0px;
  width: 230px;
  height: 50px;
  display: inline;
}

.rating {
  width: 230px;
  height: 50px;
  font-size:20px;
  display: inline;
}

#footer {
  clear: both;
}

#answer_box {
  float: right;
  position: absolute;
  left: 285px;
}

#rating_box {
  float: right;
  position: absolute;
  left: 285px;
  width: 240px;
}

.skinny_table {
  border: 0px;
}

.skinny_table td {
  padding: 0px;
}

.inline {
  display: inline;
}

#navigation {
	display:block;
	background: #3b5998;
	padding:3px 0;margin:0;
	overflow:auto;
} 
#navigation li {
	display:inline;
	list-style-type:none;
	padding:0;margin:0;
}
#navigation li a {
	display:block;
	float:left;
	padding:1ex 1em;
	color:#eee;
	text-decoration:none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

