Energy: <span id='energy'><%= @user.energy %></span>/30
(more in <span id='energyClock'></span>)
<%= javascript_tag "tickClock(#{seconds_to_next_energy.to_s},360,'energyClock','energy',#{@user.energy.to_s})" %>