Energy: <b><span id='energy'><%= @user.energy %></span>/<%= User::MaxEnergy %></b>
(more in <span id='energyClock'></span>)
<%= javascript_tag "tickClock(#{User.seconds_to_next_energy.to_s},#{User::EnergyTick},'energyClock','energy',1,#{User::MaxEnergy})" %>