<b>Rice:</b> <span id='food'><%=@village.food %></span>
 (<%= @village.net_food.add_plus %> in <span id='foodClock'></span>)

<%= link_to_remote( "more info",
                   :update => "food-info",
                   :url => { :action => :food_info } ) %>

<div id="food-info">
</div>


<%= javascript_tag "tickClock(#{seconds_to_next_population.to_s},#{1.day.to_s},'foodClock','food',#{@village.food.to_s})" %>

